
body{
    background-image: url(../images/bg3.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: #fff;
	position: relative;
}

.zerogrid{
    margin: auto;
    width: 1000px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    margin: 0;
}

.wrap-col{
    padding: 10px 20px;
}
.col-1-3{
    width: 33.33%;
}

.col-2-3{
    width: 60%;
}

.col-2-5{
    width: 40%;
}

.col-3-5{
    width: 60%;
}

.col-1-2{
    width: 40%;
    
}

.col-2-2{
    width: 60%;
}



